html, body {
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
  height: 100%;
}
.app, .root {
  min-height: 100vh;
}

main {
  margin: 0 auto;
  max-width: 92%;
}

.push {
  height: 1rem;
}

footer {
  display: block;
  padding: .8rem 0;
  margin: auto auto;
  margin-top: 1rem;
  width: 100%;
  background: #e23636;
  color: white;
  text-align: center;
}
