footer {
  display: block;
  padding: .8rem 0;
  margin: auto auto;
  margin-top: 1rem;
  width: 100%;
  background: #e23636;
  color: white;
  text-align: center;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}