:local(.header) {

  background: linear-gradient(170deg, #e23636, #bd2e2e); ;
  // background: linear-gradient(90deg, #e23636, #bd2e2e); ;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
  margin-bottom: 1rem;

  h1 {
    display: inline-block;
    font-size: 30px;
    padding: 10px;
    margin: 5px;
  }
  ul {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    padding: 0px;
    margin: 0px;
  }
  li {
    font-size: 1.2rem;
    padding: 0.5rem;
    border-bottom: #bd2e2e 2px solid;
    
  }
  li:hover {
    border-bottom: white 2px solid;
    background-color: rgba(255, 255, 255, 0.2);
  }
  a {
    color: white;
    text-decoration: none;
  }
}