:local(.paging) {
  .pagination {
    display: inline-block;
    border-radius: 3px;
    border: 1px solid #777;
    margin-bottom: .8rem;
  }
  button {
    height: 3rem;
    cursor: pointer;
    background: none;
    border: 0;
    box-shadow: none;
    padding: 1rem;
  }
  button:hover:disabled {
    background-color: transparent;
  }
  button:hover {
    background-color: #eee;
  }
  .prev {
    border-right: 1px solid #777;
    margin-right: 10px;
  }
  .next {
    border-left: 1px solid #777;
    margin-left: 10px;
  }
}